<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="styles/jindex.css"> -->
  <link rel="stylesheet" href="../public/styles/jindex.css">
</head>
<body>
  <div class="main_banner-container">
      <!-- fade, 가로, 세로, setInterval -->
      <div class="main_banner">
        <div>
          <img src="images/ha_mainimg01.jpg" alt="">
        </div>
        <div>
          <img src="images/ha_mainimg02.jpg" alt="">
        </div>
        <div>
          <img src="images/ha_mainimg03.jpg" alt="">
        </div>
      </div>
  </div>
  <header>
      <nav class="lnb">
        <ul>
          <li><a href="#section01">section01</a></li>
          <li><a href="#section02">section02</a></li>
          <li><a href="#section03">section03</a></li>
        </ul>
      </nav>
  </header>
  <section id="section01"></section>
  <section id="section02">
    <div class="tab-container">
      <ul class="btns">
        <li>btn01</li>
        <li>btn02</li>
        <li>btn03</li>
        <li>btn04</li>
        <li>btn05</li>
      </ul>
      <div class="contents">
        <div class="content1">
          content1
        </div>
        <div class="content2">
          content2
        </div>
        <div class="content3">
          content3
        </div>
        <div class="content4">
          content4
        </div>
        <div class="content5">
          content5
        </div>
      </div>
    </div>
  </section>
  <section id="section03"></section>
  <footer>
      <a href="#">Top</a>
  </footer>
  <!-- <script src="script/jquery-3.6.4.min.js"></script>
  <script src="script/jindex.js"></script> -->
  <script src="../public/script/jquery-3.6.4.min.js"></script>
  <script src="../public/script/jindex.js"></script>
</body>
</html>